@model IEnumerable<dpuExchange.Models.Books>

@{
    ViewBag.Title = "Search";
}
<br />
<h2>Book Listings</h2>
<br />
<ul class="thumbnails">
    @foreach (var item in Model)
    {
  <a href="@Url.Action("Details", "Books", new { id = item.BookID})"><li class="span4">
    <div class="thumbnail right-caption ">
      <img class="" src="http://dummyimage.com/120x160/ADADAD/e3e3e3" alt=""/>
      <div class="caption span2">
        <h6>@Html.DisplayFor(modelItem => item.Title) </h6>
        @Html.DisplayFor(modelItem => item.Author) - $@Html.DisplayFor(modelItem => item.Price)
        <br />
        <br />
        <b>Condition:</b>
        @Html.DisplayFor(modelItem => item.Condition, new { @id = "bookCondition" })
      </div>
    </div>
  </li></a>
    }
</ul>​


<script type="text/javascript">

</script>