@{
    ViewBag.Title = "Book Exchange";
}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>DePauw Book Exchange</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-large" href=@Url.Action("Register","Account")>Create account »</a></p>
      </div>

     
      <div class="row-fluid">
        <div class="span4">
          <h2>Locate</h2>
          <p>Tired of waiting for your books to be delivered? Find copies that are already on campus! </p>
          <p><a class="btn" href="#">Search »</a></p>
        </div>
        <div class="span4">
          <h2>Save</h2>
          <p>Minimize costs by avoiding shipping and handling fees by exchaning books with your classmates. Make up your own delivery plans!</p>
          <p><a class="btn" href="#">View details »</a></p>
       </div>
        <div class="span4">
          <h2>Sell @User.Identity.Name</h2>
          <p>Place holder text idk what i am going to put in this yet etrherherh</p>
          <p><a class="btn" href="#">View details »</a></p>
        </div>
      </div>


