@{
    ViewBag.Title = "Book Exchange";
}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>DePauw Book Exchange</h1>
        <p>Join DePauw's book exchange network to get ready for next semester! Post books you want to sell or search for the books you need.</p>
        <p><a class="btn btn-warning btn-large" href=@Url.Action("Register","Account")>Get started »</a></p>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <h2>Locate</h2>
          <p>Tired of waiting for your books to be delivered? Find copies that are already on campus! </p>
          <p><a class="btn" href=@Url.Action("Index","Books")>Search »</a></p>
        </div>
        <div class="span4">
          <h2>Save</h2>
          <p>Minimize costs by avoiding shipping and handling fees by exchaning books with your classmates. Make up your own delivery plans!</p>
          <p><a class="btn" href=@Url.Action("Index","Books")>View details »</a></p>
       </div>
        <div class="span4">
          <h2>Sell</h2>
          <p>Post books that you are wanting to sell at a price that you choose!</p>
          <p><a class="btn" href=@Url.Action("Create","Books")>Post »</a></p>
        </div>
      </div>


